# DATABASE_URL=mysql://root:password@mysql:3306/test-cloud-db
DATABASE_URL=mysql://root:password@localhost:3312/test-cloud-db
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=test-cloud-db
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_HOST=localhostt
JWT_SECRET=JWT_SECRET

#Credenciais
MAIL_ADMIN=admin@vituax.com
PASSWORD_ADMIN=admin123

MAIL_MANAGER=manager@vituax.com
PASSWORD_MANAGER=manager123

MAIL_MEMBER=member@vituax.com
PASSWORD_MEMBER=member123